@model IEnumerable<TP2_Mathieu_Blackburn_Rogers.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatImages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CatNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatImages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatActive)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CatId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CatId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CatId">Delete</a>
                    <a asp-controller="Questions" asp-action="Index" asp-route-id="@item.CatId">Commentaires</a>
                </td>
            </tr>
        }
    </tbody>
</table>
